// Color
$color-black-1: #181818;
$color-black-2: #191919;
$color-white-1: #ffffff;
$color-violet-1: #b61984;
$color-violet-2: #dcd1f3;

// Font size
$fs-1: 16px;
$fs-2: 0.9rem;
$fs-3: 1.1rem;
$fs-4: 3.8rem;
$fs-5: 0.75rem;
$fs-6: 1.55rem;
$fs-7: 2.5rem;
$fs-8: 15px;

// Font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

// Margin
$m-1: 6px;
$m-2: 15px;
$m-4: 20px;
$m-5: 30px;
$m-6: 40px;
$m-7: 50px;
$m-8: 60px;
$m-9: 80px;


// Padding
$pd-1: 8px;
$pd-2: 12px;
$pd-3: 20px;
$pd-5: 30px;
$pd-6: 44px;
$pd-7: 60px;
$pd-8: 100px;


// Line height
$lh-1: 38px;
$lh-2: 54px;
$lh-3: 80px;
$lh-4: 1;

// Border
$bd-1: 1px;
$bd-2: 2px;

// Border radius
$rad-1: 10px;
$rad-2: 50px;

