.user__card {
   border: unset;
   margin-bottom: $m-6;
   border-radius: $rad-1;
   overflow: hidden;
   transition: all 0.5s ease;
   .user__img {
      overflow: hidden;
      .card-img-top {
       transition: all 1s ease-out;
      }
   }
   .card-body {
      margin-top: $m-4;
      margin-bottom: $m-5 + 5px;
      padding: 0 $pd-5;
      h1.user__language {
         @include text($fs-5, $fw-3, $color-violet-1);
         margin-bottom: $m-1 + 2px;
         margin-top: $m-4;
      }
 
      h1.user__name {
         @include text($fs-6, $fw-4, $color-black-2);
         margin-bottom: $m-2;
      }
   }
   &:hover {
      box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
      .card-img-top {
         transform: scale(1.1);
      }
   }
}